mixin slide()
    .swiper-slide
        .special-offers-swiper-container__item
            .row
                .col-lg-6.col-xs-12
                    a.special-offers-swiper-container__img(href="#")
                        img(src="images/TEMP/slider-1.jpg")
                .col-lg-6.col-xs-12
                    .special-offers-swiper-container__content
                        .special-offers-swiper-container__ttl Специальное предложение для большой компании
                        .special-offers-swiper-container__text
                            p Забронируйте роскошный номер категории Сюит или Апартаменты  со скидкой 30%!
                            p Предложение действительно при бронировании от двух ночей.
                        .special-offers-swiper-container__button
                            a.button-showmore(href="#") Подробнее