.header {
    background: $white;
    color: $c_blocks;
    border-top: 3px solid $c_violet;
}
.header-wrapper{
    @include clearfix();
}
.header-logo-wrapper{
    width: 330px;
    height: 167px;
    background: $c_violet;
    float: left;
    padding-left: 33px;
    padding-top: 49px;
    box-sizing: border-box;
    position: relative;
}
.menu-sm{
    display: none;
    position: absolute;
    top: 51px;
    left: 18px;
    background: url(images/menu.png) no-repeat;
    width: 30px;
    height: 21px;
    cursor: pointer;
    &.drop{
        background-position-y: -21px;
        height: 22px;
    }
}
.top-logo{
    background: url(images/top-logo.png) no-repeat;
    width: 270px;
    height: 66px;
    display: inline-block;
}
.header-right-wrapper{
    float: right;
    width: 770px;
    height: 167px;
    position: relative;
}
.header-contacts{
    @include clearfix();
}
.header-contact-wrapper{
    @include clearfix();
    float: left;
    padding-top: 39px;
}
.header-contact-item{
    float: left;
    font: 14px/30px "OpenSans";
    height: 30px;
    &_point{
        background: url(images/icon-point.png) no-repeat;
        background-position-y: center;
        padding-left: 27px;
    }
    &_phone{
        background: url(images/icon-tel.png) no-repeat;
        background-position-y: center;
        padding-left: 30px;
    }
    &:first-of-type{
        margin-right: 67px;
    }
}
.header-menu-wrapper{
    @include clearfix();
    border-top: 1px solid $c_border_grey;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
}
.header-menu{
    display: flex;
    justify-content: space-around;
    &__items{
    }
    &__links{
        color: $c_blocks;
        text-transform: uppercase;
        font: 15px/30px "OpenSans";
        //transition: .5s;
        &:hover{
            color: $c_orange;
            font-weight: bold;
            margin-left: -2px;
        }
        &::after{
            display:block;
            content:attr(title);
            font-weight:bold;
            height:1px;
            color:transparent;
            overflow:hidden;
            visibility:hidden;
        }
        &_active{
            color: $c_orange;
            font-weight: bold;
            &:hover{
                margin-left: 0;
            }
        }
    }
}
.header-button-wrapper{
    float:right;
    padding-top: 27px;
}


