.reserv-small{
  width: 1240px;
  margin: -75px auto 0;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 10px 17.3px 60px rgba(54, 83, 116, 0.4);
  height: 150px;
  position: relative;
}
.reserv-small-parametrs-item{
  padding: 20px 0;
  &__content{
    border-right: 1px solid $c_border_grey;
    height: 110px;
    text-align: center;
  }
  &__ttl{
    font: 13px/30px "OpenSans";
    color: $c_blue_text;
    text-transform: uppercase;
  }
  &:nth-child(3){
    .reserv-small-parametrs-item__content {
      border-right: none;
    }
  }
}
.reserv-small-button-wrapper{
  background-color: $c_blue_bg;
  text-align: center;
  height: 70px;
  border-radius: 0 3px 3px 0;
  padding: 40px 0;
}
.select-date__arrow{
  position: absolute;
  right: 0;
  top: 50px;
  background: url(images/select-date.png) no-repeat;
  width: 15px;
  height: 8px;
}
.select-date{
  position: relative;
  height: 60px;
  margin-right: 44px;
  //background: url(images/select-date.png) no-repeat right 50px;
  &-input{
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &:hover{
    .select-date__arrow{
      background-position-x: -15px;
    }
  }
}

.label-date-first{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: "PlayfairDisplaySC";
  font-size: 19px;
  line-height: 55px;
  color: $c_main;
  span.dd{
    font-size: 80px;
    margin-right: 10px;
  }
  span.mm{
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.select-guest-wrapper{
  position: relative;
  width: 230px;
  height: 60px;
  margin: 0 auto;
  &__count{
    font-size: 80px;
    font-family: "PlayfairDisplaySC";
    line-height: 55px;
  }
  &__plus{
    position: absolute;
    top: 20px;
    left: -2px;
    background: url(images/plus-minus.png) no-repeat 0 -40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover{
      background-position-x: -40px;
    }
  }
  &__minus{
    position: absolute;
    top: 20px;
    right: 2px;
    background: url(images/plus-minus.png) no-repeat 0 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover{
      background-position-x: -40px;
    }
  }
}
.select-guest-input{
  display: none;
}