extends core/_template

append sharedVars
    - var activeMenu = 'Резервирование';

block title
    title Резервирование

block content
    //workarea
    .workarea
        .reserv-wrapper
            .reserv-ttl
                .reserv-minittl бронирование номера
                h1 Люкс улучшенный

            //reserv-form
            form.reserv-form
                //информация о бронировании
                .reserv-info
                    .reserv-minittl информация о бронировании
                    //reserv-info-wrapper
                    .reserv-info-wrapper
                        .row
                            .col-lg-4.col-xs-6
                                .reserv-select-date
                                    .reserv-small-parametrs-item__ttl Дата заезда
                                    .select-date
                                        .select-date__arrow
                                        .label-date-first#formatDate
                                            span.dd
                                            span.mm
                                        input.select-date-input#js-firstDate(type="text")
                                        input#r-from(type="hidden")
                            .col-lg-4.col-xs-6
                                .reserv-select-date
                                    .reserv-small-parametrs-item__ttl Дата выезда
                                    .select-date
                                        .select-date__arrow
                                        .label-date-first
                                            span.dd
                                            span.mm
                                        input.select-date-input#js-secondDate(type="text")
                                        input#r-to(type="hidden")
                            .col-lg-4.col-xs-6
                                .reserv-select-date
                                    .reserv-small-parametrs-item__ttl Количество номеров
                                    .select-guest-wrapper
                                        .select-guest-wrapper__count.js-count 1
                                        input#r-count.select-guest-input.js-count-input(type="text" value="1")
                                        .select-guest-wrapper__plus.js-plus
                                        .select-guest-wrapper__minus.js-minus
                            .col-lg-4.col-xs-6
                                .reserv-select-date
                                    .reserv-small-parametrs-item__ttl Взрослые
                                    .select-guest-wrapper
                                        .select-guest-wrapper__count.js-count 1
                                        input#r-pep.select-guest-input.js-count-input(type="text" value="1" data-cost1="1000" data-cost2="1500")
                                        .select-guest-wrapper__plus.js-plus
                                        .select-guest-wrapper__minus.js-minus
                            .col-lg-4.col-xs-6
                                .reserv-select-date
                                    .reserv-small-parametrs-item__ttl Дети
                                    .select-guest-wrapper
                                        .select-guest-wrapper__count.js-count 0
                                        input#r-kids.select-guest-input.js-count-input(type="text" value="0" data-cost="800")
                                        .select-guest-wrapper__plus.js-plus
                                        .select-guest-wrapper__minus.js-minus
                            .col-lg-4.col-xs-6
                                .reserv-select-date
                                    .reserv-small-parametrs-item__ttl Стоимость, руб
                                    .select-guest-wrapper.sum-wrapper
                                        .select-guest-wrapper__sum.js-sum
                                        input#r-sum.select-guest-input.js-count-input(type="text" value="")
                    //end reserv-info-wrapper
                //end информация о бронировании

                //Информация о госте
                .reserv-guest
                    .reserv-minittl Информация о госте
                    //reserv-guest-wrapper
                    .reserv-guest-wrapper
                        .row
                            .col-xs-6
                                .reserv-guest-info
                                    .input
                                        input.callback-form__input(type="text", placeholder="ФИО Гостя*", data-req="y")
                                    .input
                                        input.callback-form__input(type="text", placeholder="Телефон*", data-req="y")
                                    .input
                                        input.callback-form__input(type="email", placeholder="E-mail")
                                    .textarea
                                        textarea.callback-form__textarea(placeholder="Комментарий", style="height: 230px;")
                            .col-xs-6
                                .reserv-guest-check
                                    .radioline
                                        .radioline-ttl Цель поездки:
                                        .radioline-radio
                                            .radioline-radio__item
                                                input(type="radio", calss="radio", name="line1", id="radio1", value="Отдых", checked)
                                                label(for="radio1") Отдых
                                            .radioline-radio__item
                                                input(type="radio", calss="radio", name="line1", id="radio2", value="Работа")
                                                label(for="radio2") Работа
                                            input(type="hidden" data-name="line1" value="Отдых")
                                    .radioline
                                        .radioline-ttl Вид расчета:
                                        .radioline-radio
                                            .radioline-radio__item
                                                input(type="radio", calss="radio", name="line2", id="radio3", value="Наличный")
                                                label(for="radio3") Наличный
                                            .radioline-radio__item
                                                input(type="radio", calss="radio", name="line2", id="radio4", value="Безналичный", checked)
                                                label(for="radio4") Безналичный
                                            input(type="hidden" data-name="line2" value="Безналичный")
                                    .checkline
                                        input(type="checkbox", class="checkbox", id="checkbox")
                                        label(for="checkbox") Согласие с
                                            a(href="#")  правилами бронирования

                                    .captcha
                                        img(src="images/TEMP/captcha.png")

                                    input.button-reserv.button-reserv_wide.js-reserv-subm(type="submit", value="Забронировать")
                    //end reserv-guest-wrapper
                //end Информация о госте
            //end reserv-form
    //end workarea
    script(src="/js/leftMenu.js", type="text/javascript")