header.header
	.container
		//header-wrapper
		.header-wrapper
			.header-logo-wrapper
				a(class="top-logo" href="/")
			.header-right-wrapper
				.header-contacts
					.header-contact-wrapper
						.header-contact-item.header-contact-item_point г. Архангельск, ул. Тимме, д.3
						.header-contact-item.header-contact-item_phone (8182) 66-16-00, 66-14-34
					.header-button-wrapper
						a(class="button-call-request js-open-callback" href="#") Заказать звонок
				.header-menu-wrapper
					ul.header-menu
						each i in nav
							+navItem(i.url, i.name, i.url = activeMenu)
		//end header-wrapper