.fullsize-img_rooms{
  height: 780px;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
}
.fullsize-img__content_rooms{
  top: 82px;
  .fullsize-img__desc{
    margin-bottom: 87px;
  }
  .fullsize-img__ttl{
    margin-bottom: 23px;
  }
}
.rooms-counter{
  margin-bottom: 78px;
  text-align: left;
  padding-left: 80px;
  display: table;
  &__num{
    font: 80px/30px "PlayfairDisplaySC";
    font-weight: normal;
    padding-right: 10px;
    display: table-cell;
    height: 60px;
  }
  &__desc{
    font: 19px/30px "PlayfairDisplaySC";
    font-weight: bold;
    display: table-cell;
    height: 60px;
    vertical-align: middle;
  }
}

.rooms-counter-wrapper{
  margin-bottom: 9px;
}
.fullsize-img__bottom{
  font: 15px/25px "OpenSans";
}