extends core/_template

append sharedVars
	- var activeMenu = 'Об отеле';

block title
	title Главная

block content
	//workarea
	.workarea
		//fullsize-img
		.fullsize-img
			img(src="images/hotel-bg.jpg")
			.fullsize-img__content
				.fullsize-img__city Архангельск
				.fullsize-img__ttl Гостиница<br>Беломорская
				.fullsize-img__desc В лучших традициях северного гостеприимства
		//end fullsize-img

		.yellow-bg
			//reserv-small
			form.reserv-small
				.row
					.col-xs-3
						.reserv-small-parametrs-item
							.reserv-small-parametrs-item__content
								.reserv-small-parametrs-item__ttl Дата заезда
								.select-date
									.label-date-first#formatDate
										span.dd 10
										span.mm февраля
									input.select-date-input#js-firstDate(type="text", value="8 марта")
					.col-xs-3
						.reserv-small-parametrs-item
							.reserv-small-parametrs-item__content
								.reserv-small-parametrs-item__ttl Дата выезда
								.select-date
									.label-date-first
										span.dd 15
										span.mm aпреля
									input.select-date-input#js-secondDate(type="text")
					.col-xs-3
						.reserv-small-parametrs-item
							.reserv-small-parametrs-item__content
								.reserv-small-parametrs-item__ttl Количество гостей
								.select-guest-wrapper
									.select-guest-wrapper__count.js-count 1
									input.select-guest-input.js-count-input(type="text" value="1")
									.select-guest-wrapper__plus.js-plus
									.select-guest-wrapper__minus.js-minus
					.col-xs-3
						.reserv-small-parametrs-item.reserv-small-button-wrapper
							input(type="submit", class="button-reserv js-reserv", value="Забронировать")
			//end reserv-small

			//rooms-wrapper
			.rooms-wrapper
				.rooms
					.room-wrapper.room-wrapper-size1
						+room("Хостел", "room-1.jpg", "1")
						+room("Специальный", "room-2.jpg", "1")
					.room-wrapper.room-wrapper-size2
						+room("Двухместный", "room-3.jpg", "2")
						+room("Одноместный", "room-4.jpg", "2")
					.room-wrapper.room-wrapper-size4
						+room("Люкс улучшенный", "room-5.jpg", "4")
					.room-wrapper.room-wrapper-size1
						+room("Люкс стендарт", "room-6.jpg", "1")
						+room("Полулюкс", "room-7.jpg", "1")
			//end rooms-wrapper

			//slider
			.special-offers-wrapper
				.container
					.special-offers-wrapper-ttl Спецпредложения
					.special-offers-swiper-container
						.swiper-wrapper
							+slide()
							+slide()
							+slide()
					.special-offers-swiper-pagination
					.next.special-offers-swiper-button-next
					.prev.special-offers-swiper-button-prev


			//end slider

			//map
			.yandex-map-wrapper
				#map
				.container
					.map-label
						.map-label__content
							.map-label__ttl Контакты
							.map-label__items
								.map-label__item.map-label__item_point 163 000, Росcия<br>г. Архангельск, ул. Тимме, д.3
								.map-label__item.map-label__item_tel (8182) 66-16-00<br/>66-14-34
								.map-label__item.map-label__item_mail
									a(href="mailto:belhotel@list.ru") belhotel@list.ru
						.map-label__button-wrapper
								a(class="button-call-request js-open-callback" href="#callback") Заказать звонок
			//end map
			//map script
			include blocks/_map
			//end map script
	//end workarea